@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    gap: 40px;
    font-family: 'Merriweather Sans', sans-serif;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 0px;
}

.section-one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.section-two {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section-three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
}

.section-four {
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    margin: 50px;
    border-radius: 8px;
}

.small-font {
    font-size: 12px;
}

.action {
    font-weight: 900;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.author {
    text-align: right;
    font-size: 18px;
    font-weight: 800;
}
.s1-top {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    align-items: center;
}

.s1-bottom {
    display: flex;
    justify-content: space-between;
    padding: 25px 75px;
}

.s1-bottom-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul {
    list-style: none;
    padding: 0px;
    display: flex;
    gap: 16px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;;
}

img {
    width: 250px;
}


button {
    background-color: #3882f6;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    padding: 5px;
    border-radius: 8px;
    width: 100px;
}

.img-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 10px;
}

.square {
    width: 150px;
    height: 150px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 45px;
    padding-left: 50px;
    padding-right: 50px;
}

.img-cap {
    text-align: center;
}